body {
    background-color: rgb(255, 255, 246);
}

header {
    padding-left: 25%;
    padding-top: 1%;
    font-size: 35px;
    border-bottom: 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: black;
    border-style: solid;
}

p {
    font-size: 20px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        margin-left: 20px !important;
        margin-right: 20px !important;
        margin-top: 8px !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        margin-left: 25px !important;
        margin-right: 25px !important;
        margin-top: 10px !important;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        background-color: rgb(255, 255, 246);
        margin-left: 75px !important;
        margin-right: 75px !important;
        margin-top: 15px !important;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        margin-left: 150px !important;
        margin-right: 150px !important;
        margin-top: 35px !important;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        margin-left: 225px !important;
        margin-right: 225px !important;
        margin-top: 40px !important;
    }
}