body {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 248);
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 1vh;
}

html {
    box-sizing: border-box;
}

h2 {
    font-size: 23px;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
    color: black;
}

br {
    display: block;
    content: "";
    margin-top: 2px;
}

button {
    font-size: 15px;
}

.main-content {
    font-size: 17px;
}

.section-bot {
    padding-bottom: 1vh;
}

.section-top {
    padding-top: 1vh;
}

.col {
    flex: 1;
}

.section-border {
    border-bottom: 2px solid rgb(143, 143, 143);
}

.row {
    gap: 2vw;
    margin-right: 1vw;
    margin-left: 1vw;
}

.project-row {
    margin-top: -2vh;
}

.tab {
    overflow: hidden;
    margin-left: 1vw;
}

.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-bottom: thin solid rgb(143, 143, 143);
}

.tab button:hover {
    background-color: #f0f0f0;
}

.tab button.active {
    background-color: #dddddd;
}

.preload {
    animation: none !important;
}

.tabcontent {
    display: none;
    animation: fadeEffect .35s;
}

.tabcontent.prevent-animation {
    animation-duration: 0ms;
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.gray {
    filter: grayscale(.5);
}

.image {
    width: 100%;
    max-width: 55px;
    height: auto;
}

@media only screen and (max-width: 766px) {
    body {
        margin: 1vh 4vw !important;
    }
    .project-row {
        margin-top: -1vh !important;
    }
}

@media only screen and (min-width: 767px) and (max-width: 991px){
    body {
        margin: 2vh 6vw !important;
    }
    .project-row {
        margin-top: -1vh !important;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px){
    body {
        margin: 2vh 15vw !important;
    }
    .row {
        display: flex !important;
    }   
}


@media only screen and (min-width: 1200px) {
    body {
        margin: 2vh 18vw !important;
    }
    .row {
        display: flex !important;
    }   
}

@media only screen and (min-width: 1750px) {
    body {
        margin: 2vh 22vw !important;
    }
    .row {
        display: flex !important;
    }   
}